In [52]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [53]:
%%sql 

mysql://stu2100013107:stu2100013107@162.105.146.37:43306
show databases;
use stu2100013107;
show tables;

4 rows affected.
0 rows affected.
19 rows affected.

[('Categories',),
 ('Customers',),
 ('Dept',),
 ('Emp',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('Shippers',),
 ('Suppliers',),
 ('accounts',),
 ('custInfo',),
 ('customers',),
 ('departments',),
 ('employees',),
 ('happiness_index',),
 ('orders',),
 ('salaries',),
 ('seq_1_to_10000',)]

In [54]:
%%sql

drop table if exists seq_1_to_10000;
CREATE TABLE seq_1_to_10000 (seq INT PRIMARY KEY);

drop PROCEDURE if exists fill_seq_table;
CREATE PROCEDURE fill_seq_table()
BEGIN
    DECLARE i INT DEFAULT 1;
    WHILE i <= 10000 DO
        INSERT INTO seq_1_to_10000 (seq) VALUES (i);
        SET i = i + 1;
    END WHILE;
END;

-- 调用存储过程来填充序列表
CALL fill_seq_table();

drop table if exists employees;
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department_id INT,
    hire_date DATE,
    INDEX idx_department_id (department_id),
    INDEX idx_hire_date (hire_date)
);

drop table if exists departments;
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50)
);

drop table if exists salaries;
CREATE TABLE salaries (
    employee_id INT,
    salary DECIMAL(10, 2),
    salary_date DATE,
    PRIMARY KEY (employee_id, salary_date),
    INDEX idx_salary (salary),
    INDEX idx_salary_date (salary_date)
);

-- 插入 departments 数据
INSERT INTO departments (department_id, department_name) VALUES
(1, 'HR'),
(2, 'Engineering'),
(3, 'Marketing');

-- 插入 employees 数据
INSERT INTO employees (employee_id, first_name, last_name, department_id, hire_date)
SELECT 
    seq,
    CONCAT('First', seq),
    CONCAT('Last', seq),
    FLOOR(1 + (RAND() * 3)),
    DATE_ADD('2000-01-01', INTERVAL (RAND() * 7000) DAY)
FROM seq_1_to_10000;

-- 插入 salaries 数据
INSERT INTO salaries (employee_id, salary, salary_date)
SELECT 
    seq,
    50000 + (RAND() * 50000),
    DATE_ADD('2000-01-01', INTERVAL (RAND() * 7000) DAY)
FROM seq_1_to_10000;

 * mysql://stu2100013107:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
3 rows affected.
10000 rows affected.
10000 rows affected.

[]

测试index_merge

原理：INDEX_MERGE Hint 允许 MySQL 优化器使用多个索引的交集、并集或唯一索引的联合来检索数据。当查询条件可以匹配多个索引时，优化器可能会选择使用 INDEX_MERGE 策略来合并这些索引的扫描结果，而不是只使用一个索引。这通常可以提高查询性能，但也可能增加CPU和I/O的开销。

In [56]:
%%sql
EXPLAIN SELECT * FROM employees
WHERE department_id = 1 OR hire_date = '2020-01-15'

 * mysql://stu2100013107:***@162.105.146.37:43306
1 rows affected.

[(1, 'SIMPLE', 'employees', None, 'index_merge', 'idx_department_id,idx_hire_date', 'idx_department_id,idx_hire_date', '5,4', None, 3330, 100.0, 'Using union(idx_department_id,idx_hire_date); Using where')]

In [55]:
%%sql
EXPLAIN SELECT /*+ INDEX_MERGE(employees department_id hire_date) */ * FROM employees
WHERE department_id = 1 OR hire_date = '2020-01-15'

 * mysql://stu2100013107:***@162.105.146.37:43306
1 rows affected.

[(1, 'SIMPLE', 'employees', None, 'index_merge', 'idx_department_id,idx_hire_date', 'idx_department_id,idx_hire_date', '5,4', None, 3330, 100.0, 'Using union(idx_department_id,idx_hire_date); Using where')]

我们可以观察到这里mysql默认使用了index_merge，下面我们利用union使用单索引，间接地避免联合索引

In [65]:
%%sql
EXPLAIN SELECT * FROM employees
WHERE department_id = 1
UNION
SELECT * FROM employees
WHERE hire_date = '2005-01-15'

 * mysql://stu2100013107:***@162.105.146.37:43306
3 rows affected.

[(1, 'PRIMARY', 'employees', None, 'ref', 'idx_department_id', 'idx_department_id', '5', 'const', 3329, 100.0, None),
 (2, 'UNION', 'employees', None, 'ref', 'idx_hire_date', 'idx_hire_date', '4', 'const', 2, 100.0, None),
 (None, 'UNION RESULT', '<union1,2>', None, 'ALL', None, None, None, None, None, None, 'Using temporary')]

结论：优点

提高查询性能：

当查询涉及多个索引列时，INDEX_MERGE 可以利用多个索引来加速查询，而不是仅依赖单个索引。这在某些情况下可以显著提高查询性能。

减少全表扫描：

对于复杂查询，如果没有合适的联合索引，INDEX_MERGE 可以通过组合多个单列索引来减少全表扫描的次数，从而提高查询效率。

灵活性高：

INDEX_MERGE 提供了一种灵活的方式来利用现有的单列索引，无需创建新的联合索引。这在开发阶段或处理动态查询时尤为有用。

缺点

高内存使用：

INDEX_MERGE 需要在内存中合并多个索引的结果集，可能导致内存使用量增加，特别是在处理大数据集时。

复杂度增加：

由于涉及多个索引的合并操作，执行计划的复杂度会增加，可能导致优化器选择不当的执行路径，从而影响性能。

索引合并的开销：

合并多个索引的过程本身会带来一定的开销，特别是在查询返回大量数据时，索引合并的成本可能会超过其带来的性能提升。

不适用于所有查询：

INDEX_MERGE 主要适用于 OR 条件的查询，对于其他类型的查询，如复杂的 JOIN 操作，INDEX_MERGE 的作用有限。

测试join_order

原理：JOIN_ORDER Hint 允许用户指定表连接的顺序。在复杂的查询中，表连接的顺序对性能有很大影响。优化器会尝试找出最佳的连接顺序，但有时候可能不是最优的。通过 JOIN_ORDER Hint，用户可以指定一个或多个表的连接顺序，从而影响优化器的决策。无 Hint 时，优化器会根据统计信息和查询条件自动选择连接顺序。
使用 JOIN_ORDER Hint 时，优化器会按照指定的顺序进行连接。如果指定的顺序与数据分布和查询条件相匹配，查询性能可能会提高。否则性能可能会下降。

In [61]:
%%sql
EXPLAIN SELECT *
FROM employees e
JOIN departments d ON e.department_id = d.department_id

 * mysql://stu2100013107:***@162.105.146.37:43306
2 rows affected.

[(1, 'SIMPLE', 'd', None, 'ALL', 'PRIMARY', None, None, None, 3, 100.0, None),
 (1, 'SIMPLE', 'e', None, 'ref', 'idx_department_id', 'idx_department_id', '5', 'stu2100013107.d.department_id', 1, 100.0, None)]

In [62]:
%%sql
EXPLAIN SELECT /*+ JOIN_ORDER(e, d) */ *
FROM departments d
JOIN employees e ON e.department_id = d.department_id

 * mysql://stu2100013107:***@162.105.146.37:43306
2 rows affected.

[(1, 'SIMPLE', 'e', None, 'ALL', 'idx_department_id', None, None, None, 10000, 100.0, None),
 (1, 'SIMPLE', 'd', None, 'ALL', 'PRIMARY', None, None, None, 3, 33.33, 'Using where; Using join buffer (hash join)')]

结论：无 Hint 时，优化器会根据统计信息和查询条件自动选择连接顺序。
使用 JOIN_ORDER Hint 时，优化器会按照指定的顺序进行连接。如果指定的顺序与数据分布和查询条件相匹配，查询性能可能会提高。否则性能可能会下降。
因此，在了解数据分布和查询特性的情况下，使用 JOIN_ORDER Hint 可以帮助优化器选择更好的连接顺序，从而提高查询性能。
但如果不了解数据分布和查询特性，随意指定连接顺序可能会导致性能下降。

测试hash_join

原理：哈希连接（Hash Join）是一种常见的连接算法，尤其适用于内存充足且连接列上没有索引的情况。它通过将数据划分为哈希桶，并利用哈希表进行连接操作，从而提高连接效率。

In [73]:
%%sql
EXPLAIN SELECT e.employee_id, e.first_name, s.salary
FROM employees e
JOIN salaries s ON e.employee_id = s.employee_id

 * mysql://stu2100013107:***@162.105.146.37:43306
2 rows affected.

[(1, 'SIMPLE', 'e', None, 'ALL', 'PRIMARY', None, None, None, 10000, 100.0, None),
 (1, 'SIMPLE', 's', None, 'ref', 'PRIMARY', 'PRIMARY', '4', 'stu2100013107.e.employee_id', 1, 100.0, None)]

In [80]:
%%sql
EXPLAIN 
SELECT /*+ HASH_JOIN(e, s) */ e.employee_id, e.first_name, s.salary
FROM employees e
JOIN salaries s ON e.employee_id = s.employee_id;

 * mysql://stu2100013107:***@162.105.146.37:43306
2 rows affected.

[(1, 'SIMPLE', 'e', None, 'ALL', 'PRIMARY', None, None, None, 10000, 100.0, None),
 (1, 'SIMPLE', 's', None, 'ref', 'PRIMARY', 'PRIMARY', '4', 'stu2100013107.e.employee_id', 1, 100.0, None)]

In [79]:
%%sql
EXPLAIN 
SELECT /*+ NO_HASH_JOIN(e, s) */ e.employee_id, e.first_name, s.salary
FROM employees e
JOIN salaries s ON e.employee_id = s.employee_id;

 * mysql://stu2100013107:***@162.105.146.37:43306
2 rows affected.

[(1, 'SIMPLE', 'e', None, 'ALL', 'PRIMARY', None, None, None, 10000, 100.0, None),
 (1, 'SIMPLE', 's', None, 'ref', 'PRIMARY', 'PRIMARY', '4', 'stu2100013107.e.employee_id', 1, 100.0, None)]

由于数据特点，是否使用hash_join对性能没有显著影响，通过修改数据可以得出结论

结论：在数据量较大且哈希连接能避免磁盘 I/O 的场景中，哈希连接表现更优。线性时间复杂度：构建和探测阶段的时间复杂度都是线性的，使得哈希连接在数据量增加时具有良好的扩展性。缺点是内存需求高：哈希连接需要足够的内存来存储哈希表，如果内存不足，可能会导致性能下降或需要使用磁盘临时存储。不适用于有序输出：哈希连接不能保证输出的顺序，如果需要有序输出，可能需要额外的排序操作。